:root {
  --main-text-color: #000000;
  --main-bg-color: #ffffff;
  --secondary-bg-color: #e4e6e5;
  --accent-color: #8a4a15;
}
/* 
* {
  outline: 1px solid tomato;
} */

body {
  font-family: 'Inter', sans-serif;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1366px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* header  */

.header-banner {
  color: var(--main-bg-color);
  background-color: var(--main-text-color);
  padding-top: 10px;
  padding-bottom: 10px;
}

.banner-text {
  font-family: 'Plus Jakarta Sans';

  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.83px;
  text-align: center;
}

.nav {
  display: flex;
  padding: 24px 38px 24px;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list-first {
  margin-right: 320px;
}

.nav-list-second {
  margin-left: auto;
}

.nav-link {
  font-family: 'Lato';
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0em;
  cursor: pointer;
}

.nav-link:not(:last-child) {
  margin-right: 40px;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.logo {
  text-decoration: none;
  font-family: 'Lato';
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0em;
  color: var(--main-text-color);
}

/* hero  */

.hero {
  height: 606px;
}

.hero-header {
  font-family: 'Source Serif 4';
  font-size: 40px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0px;
  margin-bottom: 24px;
}

.blur {
  height: 100%;
  padding: 224px 70px;
  width: 290px;
}

.button {
  font-family: 'Plus Jakarta Sans';
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: 0.83px;
  color: var(--main-bg-color);
  background-color: var(--main-text-color);
  padding: 10px 31px 10px;
  border: 1px solid var(--main-text-color);
}

.button:hover,
.button:focus {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

/* categories  */

.categories-container {
  padding-top: 70px;
}

.category-list {
  margin-top: 40px;
  display: flex;
  margin-left: -8px;
  margin-right: -8px;
}

.category-card {
  flex-basis: calc(100% / 4-8px);
  margin-right: 8px;
  margin-left: 8px;
}

/* quote  */

.quote {
  font-family: 'Source Serif 4';
  font-size: 40px;
  font-weight: 400;
  font-style: italic;
  line-height: 1.5;
  letter-spacing: 0px;

  text-align: center;
}

.quote-container {
  padding: 70px 160px 70px 180px;
}

.small-title {
  font-family: 'Plus Jakarta Sans';
  font-size: 12px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.4px;
  margin-top: 10px;
}

.section-title {
  font-family: 'Source Serif 4';
  font-size: 40px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0px;
  text-align: center;
}

/* releases  */

.release-container {
  display: flex;
}

.release-text-block {
  padding: 61px 100px 61px 73px;
}

.release-title {
  font-family: 'Plus Jakarta Sans';
  font-size: 12px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.4px;
}

.main-title-aside {
  text-align: start;
  margin-top: 17px;
}

.section-text {
  font-family: 'Source Serif 4';
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.83px;
  margin-top: 24px;
  margin-bottom: 24px;
}

/* Inspired Spaces */

.accent-title {
  font-family: 'Plus Jakarta Sans';
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.83px;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 40px;
}

.spaces-container {
  padding-top: 70px;
}

/* Place  */

.place-container {
  display: flex;
  padding: 70px 73px;
}

.place-thumb {
  padding: 49px 73px 49px 100px;
}

.place-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.4px;
}

/* bestsellers */

.bessel-container {
  padding: 0px 20px 70px 20px;
}

.bestsellers-list {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.bessel-item {
  margin-right: 16px;
}
.bestseller-title {
  font-family: 'Source Serif 4';
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.83px;
  margin-top: 10px;
}
.bestseller-price {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.17px;
  margin-top: 5px;
}

/* blog  */

.blog-title {
  padding: 0px 100px;
}

.title-block {
  padding: 0px 320px 40px;
}

.blog-section-desc {
  font-family: 'Source Serif 4';
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.83px;
  text-align: center;
  margin-top: 24px;
}

.blogs-list {
  display: flex;
  margin-right: -8px;
  margin-left: -8px;
}

.blog-item {
  flex-basis: calc(100% / 4 - 8px);
  margin-right: 8px;
  margin-left: 8px;
}

.blog-header {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0px;
  margin-top: 10px;
}
.blog-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.4px;
  color: #2e2e2d;
  margin-top: 4px;
}

/* designers  */

.designers-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -8px;
  margin-left: -8px;
  margin-top: 40px;
}

.designers-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.4px;
}

.designer-block {
  background-color: var(--secondary-bg-color);
  flex-basis: calc(100% / 4 - 8px);
  margin-right: 8px;
  margin-left: 8px;
  display: flex;
  padding: 24px 0px 24px 24px;
  min-width: 655px;
}

.designer-block:not(:nth-last-child(-n + 2)) {
  margin-bottom: 16px;
}

.designer-desc {
  padding: 208px 0px 39px 0px;
  margin-left: 28px;
}

.designers-name {
  font-family: 'Source Serif 4';
  font-size: 40px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0px;
  margin-top: 4px;
}

.designers-container {
  padding-top: 70px;
}

/* footer  */

.footer {
  background-color: var(--main-text-color);
  color: var(--main-bg-color);
}

.footer-container {
  padding: 46px 20px 6px;
}

.footer-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.4px;
  cursor: pointer;
}

.links-block {
  margin-right: 107px;
}

.links-block .footer-link:not(:last-child) {
  margin-bottom: 15px;
}

.footer-links-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 64px;
}

.social-icons-list {
  display: flex;
  justify-content: end;
}

.copyright-list {
  display: flex;
}
.copyright-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.4px;
}

.copyright-item:nth-child(odd) {
  margin-right: 50px;
}

.copyright-item:nth-child(2) {
  margin-right: 411px;
}
