:root {
  --main-text-color: #000000;
  --main-bg-color: #ffffff;
  --secondary-bg-color: #e4e6e5;
  --accent-color: #8a4a15;
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
}

.header-banner {
  color: var(--main-bg-color);
}

.banner-text {
  background-color: var(--main-text-color);
  font-family: 'Plus Jakarta Sans';

  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.83px;
}

.nav-list {
  list-style: none;
}

.nav-link {
  font-family: 'Lato';
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0em;
  cursor: pointer;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.logo {
  text-decoration: none;
  font-family: 'Lato';
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0em;
  color: var(--main-text-color);
}

.banner-header {
  font-family: 'Source Serif 4';
  font-size: 40px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0px;
}

.button {
  font-family: 'Plus Jakarta Sans';
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: 0.83px;
  color: var(--main-bg-color);
  background-color: var(--main-text-color);
}

.button:hover,
.button:focus {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

.category-list {
  list-style: none;
}

.quote {
  font-family: 'Source Serif 4';
  font-size: 40px;
  font-weight: 400;
  font-style: italic;
  line-height: 1.5;
  letter-spacing: 0px;

  text-align: center;
}

.small-title {
  font-family: 'Plus Jakarta Sans';
  font-size: 12px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.4px;
}

.section-title {
  font-family: 'Source Serif 4';
  font-size: 40px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0px;
}

.section-text {
  font-family: 'Source Serif 4';
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.83px;
}

.accent-title {
  font-family: 'Plus Jakarta Sans';
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.83px;
}

.place-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.4px;
}

.bestsellers-list {
  list-style: none;
}
.bestseller-title {
  font-family: 'Source Serif 4';
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.83px;
}
.bestseller-price {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.17px;
}

.blog-section-desc {
  font-family: 'Source Serif 4';
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.83px;
}

.blogs-list {
  list-style: none;
}
.blog-header {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0px;
}
.blog-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.4px;
  color: #2e2e2d;
}

.designers-list {
  list-style: none;
}

.designers-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.4px;
}

.designer-block {
  background-color: var(--secondary-bg-color);
}

.footer {
  background-color: var(--main-text-color);
  color: var(--main-bg-color);
}

.footer-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.4px;
  cursor: pointer;
}

.footer-links-list {
  list-style: none;
}

.social-icons-list {
  list-style: none;
}

.copyright-list {
  list-style: none;
}
.copyright-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.4px;
}
