@use '../utils/mixins';

.bestsellers__container {
  margin-top: 32px;
  @include mixins.for-size(tablet) {
    margin-top: 50px;
  }
  @include mixins.for-size(desktop) {
    padding: 0px 20px 70px 20px;
  }
}

.bestsellers__list {
  margin-top: 25px;
  @include mixins.flex-center();

  @include mixins.for-size(tablet) {
    margin-top: 32px;
  }
  @include mixins.for-size(desktop) {
    margin-top: 40px;
    // @include mixins.grid-layout(4, 16px);
  }
}

.bestsellers__item {
  @include mixins.for-size(tablet) {
    margin-right: 16px;
  }
}

.bestsellers__item:not(:nth-child(-n + 1)) {
  @include mixins.for-size(phone) {
    display: none;
  }
  @include mixins.for-size(tablet) {
    display: block;
  }
}

.bestsellers__item:not(:nth-child(-n + 2)) {
  @include mixins.for-size(tablet) {
    display: none;
  }
  @include mixins.for-size(desktop) {
    display: block;
  }
}

.bestsellers__title {
  margin-top: 4px;
  font-family: 'Source Serif 4';
  @include mixins.font-settings(8px, 400, 1.6, 0.46px);
  @include mixins.for-size(desktop) {
    margin-top: 7px;
    @include mixins.font-settings(11px, 400, 1.5, 0.59px);
  }

  @include mixins.for-size(desktop) {
    margin-top: 10px;

    @include mixins.font-settings(15px, 400, 1.6, 0.83px);
  }
}

.bestsellers__price {
  margin-top: 2px;
  font-family: 'Roboto';
  @include mixins.font-settings(8px, 700, normal, 0.09px);
  @include mixins.for-size(tablet) {
    @include mixins.font-settings(10px, 700, normal, 0.12px);
    margin-top: 3px;
  }

  @include mixins.for-size(desktop) {
    margin-top: 5px;

    @include mixins.font-settings(14px, 700, normal, 0.17px);
  }
}
