@use '../utils/mixins';

.bestsellers__container {
  padding: 0px 20px 70px 20px;
}

.bestsellers__list {
  margin-top: 40px;
  @include mixins.flex-center();
}

.bestsellers__item {
  margin-right: 16px;
}

.bestsellers__title {
  margin-top: 10px;

  font-family: 'Source Serif 4';
  @include mixins.font-settings(15px, 400, 1.6, 0.83px);
}

.bestsellers__price {
  margin-top: 5px;

  font-family: 'Roboto';
  @include mixins.font-settings(14px, 700, normal, 0.17px);
}
