@use '../utils/mixins';

.blog__title {
  @include mixins.for-size(tablet) {
    margin-right: 90px;
    margin-left: 90px;
  }
  @include mixins.for-size(desktop) {
    margin-right: 100px;
    margin-left: 100px;
  }
}

.blog__title-block {
  margin-top: 32px;
  @include mixins.for-size(desktop) {
    padding: 0px 320px 40px;
  }
}

.blog__section-desc {
  margin-top: 16px;
  font-family: 'Source Serif 4';
  @include mixins.font-settings(16px, 400, 1.4, 0.7px);
  text-align: center;

  @include mixins.for-size(desktop) {
    margin-top: 24px;
    @include mixins.font-settings(20px, 400, 1.4, 0.83px);
  }
}

.blog__list {
  margin-top: 32px;

  @include mixins.for-size(tablet) {
    @include mixins.grid-layout(2, 16px);
    margin-top: 50px;
  }

  @include mixins.for-size(desktop) {
    @include mixins.grid-layout(4, 8px);
  }
}

.blog__header {
  margin-top: 8px;
  @include mixins.font-settings(14px, 600, 1.2, 0px);

  @include mixins.for-size(tablet) {
    margin-top: 10px;
    @include mixins.font-settings(14px, 600, 1.4, 0px);
  }

  @include mixins.for-size(desktop) {
    @include mixins.font-settings(14px, 700, 1.4, 0px);
  }
}

.blog__text {
  margin-top: 8px;
  color: #2e2e2d;
  @include mixins.font-settings(12px, 400, 1.3, 0.2px);
  @include mixins.for-size(tablet) {
    @include mixins.font-settings(12px, 400, 1.4, 0.4px);
  }
  @include mixins.for-size(desktop) {
    margin-top: 4px;
    @include mixins.font-settings(14px, 400, 1.4, 0.4px);
  }
}

.blog__item:not(:first-child) {
  margin-top: 16px;
  @include mixins.for-size(tablet) {
    margin-top: 8px;
  }
}
