.categories__container {
  padding-top: 70px;
}

.categories__list {
  margin-top: 40px;
  display: flex;
  margin-left: -8px;
  margin-right: -8px;
}

.categories__card {
  flex-basis: calc(100% / 4 - 8px);
  margin-right: 8px;
  margin-left: 8px;
}
