@use '../utils/mixins';

.categories__container {
  padding-top: 31px;
  @include mixins.for-size(desktop) {
    padding-top: 70px;
  }
}

.categories__list {
  @include mixins.grid-layout(2, 12px);
  margin-top: 22px;

  @include mixins.for-size(tablet) {
    @include mixins.grid-layout(2, 16px);
    margin-top: 32px;
  }

  @include mixins.for-size(desktop) {
    @include mixins.grid-layout(4, 16px);
    margin-top: 40px;
  }
}
