@use '../utils/variables';
@use '../utils/mixins';

.footer {
  background-color: variables.$main-text-color;
  color: variables.$main-bg-color;
}

.footer__container {
  padding: 26px 0px 21px;
  @include mixins.for-size(tablet) {
    padding: 26px 9px;
  }
  @include mixins.for-size(desktop) {
    padding: 46px 20px 6px;
  }
}

.footer__link {
  cursor: pointer;
  @include mixins.font-settings(12px, 400, 1.3, 0.2px);
  @include mixins.for-size(tablet) {
    @include mixins.font-settings(12px, 400, 1.4, 0.4px);
  }
  @include mixins.for-size(desktop) {
    @include mixins.font-settings(14px, 400, 1.4, 0.4px);
  }
}

.footer__links-block {
  @include mixins.for-size(tablet) {
    margin-right: 120px;
  }
  @include mixins.for-size(desktop) {
    margin-right: 107px;
  }
}

.footer__links-block:nth-child(2n + 1) {
  margin-right: 46px;
}

.footer__links-block:nth-child(-n + 2) {
  margin-bottom: 27px;
  @include mixins.for-size(tablet) {
    margin-right: 120px;
    margin-bottom: 0px;
  }
}

.footer__link:not(:last-child) {
  margin-bottom: 8px;
  @include mixins.for-size(tablet) {
    margin-bottom: 12px;
  }
  @include mixins.for-size(desktop) {
    margin-bottom: 15px;
  }
}

.footer__links-list {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  @include mixins.for-size(tablet) {
    margin-bottom: 40px;
  }
  @include mixins.for-size(desktop) {
    margin-bottom: 64px;
  }
}

.footer__icons-list {
  display: flex;
  @include mixins.for-size(desktop) {
    justify-content: end;
  }
}

.footer__icon svg {
  max-height: 19px;
  max-width: 20px;
}

.footer__icon:not(:last-child) {
  margin-right: 30px;
}

.footer--line {
  margin-top: 22px;
  margin-bottom: 23px;
  display: block;
  width: 100%;
  height: 1px;
  background-color: variables.$main-bg-color;
  @include mixins.for-size(tablet) {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  @include mixins.for-size(desktop) {
    margin-top: 41px;
    margin-bottom: 32px;
  }
}

.footer__copyright-container {
  display: flex;
  flex-direction: column-reverse;
  @include mixins.for-size(desktop) {
    flex-direction: row;
  }
}

.footer__copyright-item {
  @include mixins.font-settings(12px, 400, 1.3, 0.2px);
  @include mixins.for-size(tablet) {
    @include mixins.font-settings(12px, 400, 1.4, 0.4px);
  }
  @include mixins.for-size(desktop) {
    @include mixins.font-settings(14px, 400, 1.4, 0.4px);
  }
}

.footer__copyright-item:nth-child(odd) {
  @include mixins.for-size(desktop) {
    margin-right: 50px;
  }
}

.footer__copyright-item:nth-child(2) {
  @include mixins.for-size(tablet) {
    margin-left: 22px;
  }
  @include mixins.for-size(desktop) {
    margin-right: auto;
  }
}

.footer__copyright-group {
  @include mixins.for-size(tablet) {
    display: flex;
  }
}

.footer__copyright-group:last-child {
  margin-bottom: 13px;
  @include mixins.for-size(tablet) {
    margin-bottom: 10px;
  }
  @include mixins.for-size(desktop) {
    margin-bottom: 0;
    margin-left: auto;
  }
}

// ---------------

.footer__copyright-group:first-child .footer__copyright-item:first-child {
  margin-bottom: 11px;
  @include mixins.for-size(tablet) {
    margin-bottom: 0px;
  }
}

.footer__copyright-group:last-child .footer__copyright-item:first-child {
  margin-bottom: 8px;
  @include mixins.for-size(tablet) {
    margin-bottom: 0px;
  }
}
