@use '../utils/variables';
@use '../utils/mixins';

.header__banner {
  padding: 10px 0;

  text-align: center;

  color: variables.$main-bg-color;
  background-color: variables.$main-text-color;
}

.header__banner-text {
  margin-right: auto;
  margin-left: auto;
  padding: 0;

  display: inline-block; 
  width: auto; 
  
  text-align: center;
  font-family: 'Plus Jakarta Sans';
  @include mixins.font-settings(16px, 400, 1, 0.83px);
}

.header__banner-text::after {
  content: '';
  margin-top: 4px;
  display: block;
  width: 100%;
  height: 1px;
  background-color: variables.$main-bg-color;
}

.header__navigation {
  padding: 24px 38px 24px;
  display: flex;
}

.header__list {
  display: flex;
  align-items: center;
}

.header__list--first {
  margin-right: 320px;
}

.header__list--second {
  margin-left: auto;
}

.header__link {
  font-family: 'Lato';
  @include mixins.font-settings(14px, 400, normal, 0em);
  cursor: pointer;
  @include mixins.transition(color);
}

.header__link:not(:last-child) {
  margin-right: 40px;
}

.header__link:hover,
.header__link:focus {
  color: variables.$accent-color;
  @include mixins.transition(color);
}

.header__logo {
  text-decoration: none;
  font-family: 'Lato';
  @include mixins.font-settings(32px, 400, normal, 0em);
  color: variables.$main-text-color;
}
