@use '../utils/mixins';

.places__container {
  margin-top: 32px;
  @include mixins.for-size(desktop) {
    margin-top: 0;
    display: flex;
    padding: 70px 73px;
    justify-content: space-between;
  }
}

.places__thumb {
  @include mixins.for-size(desktop) {
    padding: 49px 0px;
    max-width: 420px;
  }
}

.places__title {
  margin-top: 20px;
  @include mixins.font-settings(12px, 400, 1.3, 0.2px);

  @include mixins.for-size(desktop) {
    margin-top: 0;
    @include mixins.font-settings(14px, 400, 1.4, 0.4px);
  }
}
