@use '../utils/mixins';

.quote {
  font-family: 'Source Serif 4';
  @include mixins.font-settings(28px, 400, 1.4, 0px);
  font-style: italic;
  text-align: center;
  display: inline-block;
  padding: 32px 10px 32px 14px;

  @include mixins.for-size(tablet) {
    @include mixins.font-settings(32px, 400, 1.4, 0px);
    padding: 61px 24px;
  }

  @include mixins.for-size(desktop) {
    @include mixins.font-settings(40px, 400, 1.5, 0px);

    padding: 70px 170px 70px 192px;
  }
}
