@use '../utils/mixins';

.release__container {
  margin-bottom: 29px;

  @include mixins.for-size(tablet) {
    margin-bottom: 50px;
  }

  @include mixins.for-size(desktop) {
    margin-bottom: 70px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.release__text-block {
  @include mixins.for-size(desktop) {
    padding: 61px 0px 61px 73px;
    max-width: 556px;
  }
}

.release__title {
  margin-top: 20px;
  font-family: 'Inter';
  @include mixins.font-settings(12px, 400, 1.3, 0.2px);

  @include mixins.for-size(tablet) {
    margin-top: 40px;
    @include mixins.font-settings(12px, 400, 1.4, 0.4px);
  }

  @include mixins.for-size(desktop) {
    margin-top: 0;
    font-family: 'Plus Jakarta Sans';
    @include mixins.font-settings(12px, 400, 1.4, 0.4px);
  }
}
