@use '../utils/mixins';
@use '../utils/variables';

.spaces__container {
  text-align: center;
}

.spaces__accent-title {
  display: none;

  @include mixins.for-size(tablet) {
    font-family: 'Plus Jakarta Sans';
    display: inline-block;
    @include mixins.font-settings(14px, 400, 1.3, 0.83px);
    text-align: center;
    margin: 10px auto 32px auto;
  }

  @include mixins.for-size(desktop) {
    margin: 24px auto 40px auto;
  }
}

.spaces__accent-title::after {
  margin-top: 4px;
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: variables.$main-text-color;
}

.spaces__image img {
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  @include mixins.for-size(tablet) {
    margin-top: 0;
  }
}
