@use '../utils/mixins';
@use '../utils/variables';

.spaces__container {
  padding-top: 70px;
  text-align: center;
}

.spaces__accent-title {
  margin: 24px auto 40px auto;
  display: inline-block;
  text-align: center;
  font-family: 'Plus Jakarta Sans';
  @include mixins.font-settings(14px, 400, 1.3, 0.83px);
}

.spaces__accent-title::after {
  margin-top: 4px;
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: variables.$main-text-color;
}
