@use '../utils/variables';
@use '../utils/mixins';

body {
  font-family: 'Inter', sans-serif;
  color: variables.$main-text-color;
  background-color: variables.$main-bg-color;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.small-title {
  margin-top: 6px;
  font-family: 'Plus Jakarta Sans';
  @include mixins.font-settings(12px, 400, 1.3, 0.2px);
  @include mixins.for-size(tablet) {
    margin-top: 10px;
    @include mixins.font-settings(12px, 400, 1.4, 0.4px);
  }
}

.section-title {
  font-family: 'Source Serif 4';
  @include mixins.font-settings(24px, 400, 1.2, 0px);
  text-align: center;

  @include mixins.for-size(tablet) {
    @include mixins.font-settings(32px, 400, 1.4, 0px);
  }

  @include mixins.for-size(desktop) {
    @include mixins.font-settings(40px, 400, 1.2, 0px);
  }
}

.main-title-aside {
  text-align: start;
  margin-top: 17px;
}

.section-text {
  margin-top: 24px;
  margin-bottom: 24px;

  font-family: 'Source Serif 4';
  @include mixins.font-settings(15px, 400, 1.6, 0.83px);
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
