@use 'sass:math';
@use 'sass:list';
@use './variables';

@mixin flex-center($justify: center, $align: center, $gap: null) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin font-settings($fs, $fw: 400, $lh: normal, $ls: normal) {
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
  letter-spacing: $ls;
}

@mixin grid-layout($items-per-row, $gap) {
  display: flex;
  margin-right: -($gap);
  margin-left: -($gap);

  & > * {
    flex-basis: calc(100% / #{$items-per-row} - #{$gap});
    margin-right: $gap;
    margin-left: $gap;
  }
}

@mixin transition($properties...) {
  $transition-list: ();
  @each $prop in $properties {
    $transition-list: list.append(
      $transition-list,
      ($prop variables.$time-function),
      $separator: comma
    );
  }
  transition: $transition-list;
}

@mixin for-size($range) {
  $phone: 320px;
  $tablet: 600px;
  $desktop: 1366px;

  @if $range == phone-only {
    @media (max-width: #{$phone - 1}) {
      @content;
    }
  } @else if $range == phone {
    @media (min-width: $phone) {
      @content;
    }
  } @else if $range == tablet {
    @media (min-width: $tablet) {
      @content;
    }
  } @else if $range == desktop {
    @media (min-width: $desktop) {
      @content;
    }
  }
}
